$font1: "black ops one";
$font2: "Lato";

$pink-color: #d67bff;
$yellow-color: #FEFFAC;

$img-1: url("../images/img-1.jpg") ;
$img-2: url("../images/img-2.jpg") ;
$img-3: url("../images/img-3.jpg") ;
$img-4: url("../images/img-4.jpg") ;
